<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Boards</title>
</head>
<body>
<div>
    <h1> 전체 게시판 </h1>
    <a href="/static">Back</a>
</div>
<table>
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="article: ${articles}" th:with="boardsId=${article.boards.id}">
        <td th:text="${article.id}"></td>
        <td>
            <a th:href="@{/article/{articleId}(articleId=${article.id}, boardsId=${boardsId})}" th:text="${article.title}"></a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>