<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <title>Board</title>-->
    <title >게시판: [[${boards.name}]]</title>
</head>
<body>
<div>
    <h1 th:if="${selected == 1}">전체 게시판</h1>
    <h1 th:unless="${selected == 1}" th:text="${selected.name}"></h1>

    <a href="/article/write">Write</a>
    <a th:href="/">Back</a>
</div>
<table>
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="article: ${articles}">
        <td th:text="${article.id}"></td>
        <td>
            <a th:href="@{article/{articleId}(articleId=${article.id})}" th:text="${article.title}"></a>
            <input type="hidden" name="articleId" th:value="${article.id}">
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>