<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
<body>
<h1>Home Page</h1>
<a href="/article/write">Write</a>
<table>
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="boards: ${boards}">
        <td th:text="${boards.id}"></td>
        <td >
            <a th:href="@{/boards/{boardsId}(boardsId=${boards.id})}" th:text="${boards.name}"></a>
<!--            <input type="hidden" name="boardsId" th:value="${boards.id}">-->
        </td>
    </tr>
    <tr>
        <th></th>
    </tr>
    </tbody>
</table>
</body>
</html>